<div class="container-fluid main-wrapper d-flex justify-content-center align-items-center">
  <div class="form-box">
    <div class="row g-0">

      <!-- LOGIN -->
      <div class="col-12 col-md-12 p-4 auth-form" *ngIf="isLogin">
        <h3 class="text-white mb-4">Log In</h3>

        <input class="form-control custom-input mb-3" placeholder="Email or Mobile" [(ngModel)]="loginEmailOrMobile" />

        <div class="position-relative mb-3">
          <input type="password" class="form-control custom-input" placeholder="Password" [(ngModel)]="loginPassword" />
          <span class="show-text">Show</span>
        </div>

        <div class="d-flex justify-content-between mb-4">
          <label class="text-light">
            <input type="checkbox"> Remember me
          </label>
          <a href="#" class="link-light small">Forgot Password</a>
        </div>

        <button class="btn btn-danger w-100 mb-4" (click)="login()">
          Log In
        </button>

        <div class="text-center text-light mb-3">Or Sign in with</div>

        <div class="d-flex justify-content-center gap-3 mb-3">
          <i class="fab fa-facebook-f social-icon"></i>
          <i class="fab fa-twitter social-icon"></i>
          <i class="fab fa-google-plus-g social-icon"></i>
          <i class="fab fa-instagram social-icon"></i>
        </div>

        <p class="text-center text-light">
          Don’t have an account?
          <span class="text-danger switch-link" (click)="showSignup()">Sign up</span>
        </p>
      </div>

      <!-- SIGN UP -->
      <div class="col-12 col-md-12 p-4 auth-form" *ngIf="!isLogin">
        <h3 class="text-white mb-4">Sign Up</h3>

        <div class="row">
          <div class="col-6 mb-3">
            <input class="form-control custom-input" placeholder="First Name" [(ngModel)]="firstName">
          </div>
          <div class="col-6 mb-3">
            <input class="form-control custom-input" placeholder="Last Name" [(ngModel)]="lastName">
          </div>
        </div>

        <input class="form-control custom-input mb-3" placeholder="Email or Mobile" [(ngModel)]="signupEmailOrMobile">

        <div class="position-relative mb-3">
          <input type="password" class="form-control custom-input" placeholder="Password">
          <span class="show-text">Show</span>
        </div>

        <div class="position-relative mb-3">
          <input type="password" class="form-control custom-input" placeholder="Password" [(ngModel)]="signupPassword">
          <span class="show-text">Show</span>
        </div>


        <div class="position-relative mb-3">
          <input type="password" class="form-control custom-input" placeholder="Confirm Password"
            [(ngModel)]="confirmPassword">
          <span class="show-text">Show</span>
        </div>

        <label class="text-light small mb-3 d-block">
          <input type="checkbox"> I agree with privacy & policy
        </label>

        <button class="btn btn-danger w-100 mb-3" (click)="signup()">
          Sign Up
        </button>

        <p class="text-center text-light">
          Already have an account?
          <span class="text-danger switch-link" (click)="showLogin()">Sign in</span>
        </p>
      </div>

    </div>
  </div>
</div>